<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Kino XYZ {% block title %} - strona główna{%  endblock %} </title>
    <link rel="stylesheet" type="text/css" href=" {% static "nav_style.css" %} "/>
    <link rel="stylesheet" type="text/css" href=" {% static "style.css" %} "/>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{% static "client.js" %}"></script>
    <script src="{% static "staff.js" %}"></script>
</head>
<body>
    <header>
    </header>
    <div id="top">


    <div id="authentication">
        <div id="text_auth">
            {% if request.user.is_authenticated %}
                <form method="POST" action="/logout/">
                    {% csrf_token %}
                    <p>Jesteś zalogowany jako {{ request.user.username }}</p>
                    <input class="log_btn" id="loggout" type="submit" value="wyloguj">
                </form>
            {% else %}
                <div id="accounts">
                    <a href="/login_form/">Zaloguj się</a>
                    <a href="/register_form/">Załóż konto</a>
                </div>

            {% endif %}
        </div>
    </div>
    <nav>
        <ul id="nav">
            <li>
                <a href="/">Strona domowa</a>
            </li>
            <li>
                <a href="/films/">Filmy</a>
            </li>
            <li>
                <a href="/program/">Repertuar</a>
            </li>
            <li>
                <a href="/contact/">Kontakt</a>
            </li>
            {% if account_type == 1 %}
                <li>
                <a href="/reservation/">System rezerwacji</a>
            </li>
            {% endif %}
            {% if account_type == 2 %}
                <li>
                <a href="/administration/">Administracja</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    </div>
        {% block content %}
    {%  endblock %}
</body>
</html>